<!DOCTYPE html>
<html lang="en">

    <%- include(`./partials/head.ejs`);%>

    <title>Budget Index Page</title>


<body>

    <div class="container">
        <h1>Budgtr ALL</h1>

        <table>
            <% for (var i = 0; i < allBudgets.length; i++) { %>
             <tr>
               <td><%= allBudgets[i].date %></td>
               
               <td><a href="/budgets<%=i%>"><%=allBudgets[i].name %></a></td>
               <td><%= allBudgets[i].amount %></td>
             </tr>    
            <% } %> 
         </table> 
    </div>
    <form action="/budgets/new">
        <input type="submit" value="Create New Budget" />
    </form>

</body>
</html>