<!DOCTYPE html>
<html lang="en">

<title>Budget Show Page</title>

<body>
    <div class="container">
        <h1>Retirement</h1>

    <a href = "/budgets">Back</a>
        
        <p>date</p><%= budget.date %> 
        <p>name</p> <%= budget.name %> 
        <p>from</p> <%= budget.from %> 
        <p>amount</p> <%= budget.amount%> 
        <p>tags</p> <%= budget.tags%> 
    </div>

</body>

</html>