<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head.ejs`);%>

<title>Budget Show Page</title>

<body>
    <div class="container">
        <h1>Retirement</h1>

        <form action="/budgets">
            <input type="submit" value="BACK" />
        </form>
        
        <p>date</p><%= budgets.date %> 
        <p>name</p> <%= budgets.name %> 
        <p>from</p> <%= budgets.from %> 
        <p>amount</p> <%= budgets.amount%> 
        <p>tags</p> <%= budgets.tags%> 
    </div>

</body>

</html>